/* Page Set Up*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
}

/* Navigation */
.navbar-brand {
    font-size: 2rem;
    color: white !important;
}
.navbar {
    background-color: pink;
}

.nav-link {
    color: white !important;
}

/* footer */
.footer {
    background-color: pink;
    color: white;
    text-align: center;
}

/* Home Screen */

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: rgb(250, 68, 189);
}

a:hover {
    color: purple;
}

.products li {
    list-style-type: none;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;
    padding: 0;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-name {
    font-size: 2rem;
    /* font-weight: bold; */
}
.product-brand {
    font-size: 1.2rem;
    color: #808080;
}

.product-image {
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating {
    margin-bottom: 1rem;
}

/* Sidebar */

.sidebar-btn {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: rgb(255, 255, 179);
    height: 100%;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-close-btn {
    transform: rotate(45deg);
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 3rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 0rem;
    background: none;
    border: none;
    color: green;
}