/* Page Set Up*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
}

/* Navigation */
.navbar-brand {
    font-size: 2rem;
    color: white !important;
}
.navbar {
    background-color: pink;
}

.nav-link {
    color: white !important;
}

/* footer */
.footer {
    background-color: pink;
    color: white;
    text-align: center;
}

